doctype html
html
    head
        include includes/head.pug

        div(class="container")
            block content
            div(class="container")
                if todos.length
                    div(class="row")
                        ul
                            each todo in todos
                               div(class="card" style="width: 18rem;")
                                    if todo.completed
                                        li(class="card-body" style="background: aquamarine" class="todo" id=todo.id.toString())
                                            p(class="card-text")=todo.title
                                                a(href=`lists/${todo.id}` class="card-link") Подробнее
                                    else 
                                        li(class="card-body" style="background: coral" class="todo" id=todo.id.toString())
                                            p(class="card-text")=todo.title
                                                a(href=`lists/${todo.id}` class="card-link") Подробнее
                else
                    p Нет записей
        
        footer
            include includes/footer.pug