head
    include includes/head.pug
body
    div(class="row")
        ul
            each todo in todos
                if(todo.id === listId)
                    li(class="todo" id=todo.id.toString())
                        label
                            form(action="/complete" method="POST")
                                if todo.completed
                                    input(type="checkbox" name="completed")
                                    span=todo.title
                                    span=todo.completed
                                else 
                                    input(type="checkbox" name="completed")
                                    span=todo.title
                                input(type="hidden" value=todo.id name="id")
                                button(class="btn" type="submit") Save
                                a(href=`/lists/delete/${todo.id}`) Delete
    footer
            include includes/footer.pug 