head
    include includes/head.pug
body
    div(class="row")
        ul
            each todo in todos
                if(todo.id === listId)
                    li(class="todo" id=todo.id.toString())
                        form(action="/complete" method="POST")
                            label
                                if todo.completed
                                    input(type="checkbox" checked name="completed")
                                    span(class="completed")=todo.title
                                else 
                                    input(type="checkbox" name="completed")
                                    span=todo.title
                                input(type="hidden" value=todo.id name="id")
                                button(class="btn" type="submit") Save
                                a(href=`/lists/change/${todo.id}`) Change
                                a(href=`/lists/delete/${todo.id}`) Delete
    footer
            include includes/footer.pug 